.modal__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: auto;
}

.modal__wrapper_active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.5);
    transition: all 0.5s;
    flex-wrap: wrap;
}

.modal__content_active {
    transform: scale(1);
}

.modal__element {
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 25px;
    cursor: pointer;
    padding: 10px 30px;
}

.modal__wrapper::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 1601px) {
    .modal__content {
        margin-top: 27vh;
    }
}

@media (max-width: 1537px) {
    .modal__content {
        margin-top: 38vh;
    }
}

@media (max-width: 1441px) {
    .modal__content {
        margin-top: 40vh;
    }
}

@media (max-width: 1334px) {
    .modal__content {
        margin-top: 80vh;
    }
}

@media (max-width: 1280px) {
    .modal__content {
        margin-top: 90vh;
    }
}

@media (max-width: 390px) {
    .modal__content {
        margin-top: 600vh;
    }
}

@media (max-width: 320px) {
    .modal__content {
        margin-top: 735vh;
    }
}