.header__wrapper {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0px 40px;
    justify-content: flex-start;
}

.header__baseCurrencyContext {
    color: #fff;
    font-size: 25px;
}

.header__baseCurrency {
    cursor: pointer;
}

.header__baseCurrency:hover {
    border-bottom: 2px dotted red;
}

.header__allCurrenciesBtn {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    margin-left: 40px;
}

.header__allCurrenciesBtn:hover {
    border-bottom: 2px dotted red;
}

.header__findCurrency {
    font-size: 25px;
    margin-left: 40px;
    padding-bottom: 2px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 1s;
}

.header__findCurrency:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}